*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body{
    background: #0f1931;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Roboto Slab', serif, sans-serif;
}