.navbar {
    background-color: #06142e;
    height: 6rem;
    width: 100vw;  /*viewing-width */
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;  
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: cover; /*maintain a ratio of the image*/
    height: 3rem;
    width: 3rem;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    font-size: 1.1rem;
}

.desktopMenuListItem:hover {
    color: #f1916d;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #f1916d;
}

.desktopMenuButton {
    border: 2px solid #473e66;
    box-shadow: 0 0 10px #473e66;
    height: 3rem;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    transition: box-shadow 0.3s;
    font-weight: 600;
    font-size: 1.05rem;
}

.desktopMenuButton:hover{
    box-shadow: 0 0 20px #f1916d;
}

.active {
    color:#f1916d;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #f1916d;
}

.mobMenu {
    display: none !important;
    object-fit: cover;
    height: 1.8rem;
}

.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: #06142e;
}

.listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: #06142e;
}

@media screen and (max-width: 720px) {
    .mobMenu {
        display: flex !important;
    }
    .desktopMenu {
        display: none;
    }
    .desktopMenuButton {
        display: none;
    }  

}

@media screen and (min-width: 721px) {
    .mobMenu {
        display: none !important;
    }
    .navMenu {
        display: none !important; 
    }
    .desktopMenu {
        display: flex;
    }
    .desktopMenuButton {
        display: flex;
    }  
}